html {
    font-size: 1.5vh;
} 
/* Estilos para el contenedor principal */
.quienes-container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}
  
/* Estilos para el encabezado */
.quienes-container h2 {
    font-size: 2rem;
    color: #54007a;
    margin-bottom: 30px;
 }
  
.quienes-container-subtitulos{
    font-size: 1.4rem;
    color: #321a3d;
    margin-bottom: 30px;
    font-weight: bold;
}
  /* Estilos para el texto de párrafo */
.quienes-container-data {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 20px;
 }

@media (max-width: 600px) {
/* Estilos para el encabezado */
.quienes-container h2 {
    font-size: 1.4rem;
 }
  
.quienes-container-subtitulos{
    font-size: 1rem;
}
  /* Estilos para el texto de párrafo */
.quienes-container-data {
    font-size: 1rem;
 }
}

@media (min-width: 600px) and (max-width: 1024px) {
/* Estilos para el encabezado */
.quienes-container h2 {
    font-size: 1.6rem;
 }
  
.quienes-container-subtitulos{
    font-size: 1rem;
}
  /* Estilos para el texto de párrafo */
.quienes-container-data {
    font-size: 1rem;
 }
}